@import '../../style/global/global.scss';


// Connectin error
.connectionBlock {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    display: flex;
    align-items: center;
    background: rgba(0,0,0, .3);
    & > div {
        flex: 1 1 100%;
        background: var(--color-accent);
        padding: 20px;
        text-align: center;
        color: #fff;
        font-size: var(--font-size-big);
        box-shadow: var(--shadow-3p);
        & label {
            font-weight: var(--font-weight-bold);
            margin-right: 5px;
            display: inline-block;
        }
    }
}
