@import '../../../../../style/global/global.scss';

.input {
    height: 52px;
    border: solid 1px var(--color-divider);
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 10px;
    & > li {
        padding: 5px;
        border-radius: var(--border-radius);
        background: var(--color-bg-primary);
        margin-right: 10px;
        cursor: pointer;
        transition: var(--transition-2);
        white-space: nowrap;
    }
    & > li:hover {
        opacity: .7;
    }
}
.popover {
    padding: 7px 15px;
    & [data-ul="block"] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        & label {
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            & [data-el="label"] {
                margin-right: 5px;
                font-weight: var(--font-weight-semi-bold);
                white-space: nowrap;
            }
            & [data-el="price"] {
                // white-space: nowrap;
                & [data-margin] {
                    margin: 0 5px;
                }
            }
        }
        & small {
            display: block;
        }
    }
    & [data-ul="buttons"] {
        display: flex;
        align-items: center;
        & > li:nth-child(1),
        & > li:nth-child(3) {
            cursor: pointer;
            border: solid 1px var(--color-divider);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            min-width: 40px;
            max-width: 40px;
            min-height: 40px;
            max-height: 40px;
        }
        & > li:nth-child(2) {
            padding: 0 10px;
            min-width: 40px;
            max-width: 40px;
            text-align: center;
        }
    }
}
