// transitions
@keyframes breath {
  0% {
    background-size: 100% auto;
    // transform: scale(1.5);
  }
  50% {
    background-size: 140% auto;
  }
  100% {
    background-size: 100% auto;
  }
}


@mixin bgBreath() {
    animation: breath 30s ease-out infinite;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    // background-attachment: fixed;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-clip: border-box;
    // background-size: cover;
}

// @include bgBreath
