@import '../../../../../style/global/global.scss';

.modalForm {
    margin-top: 20px;
}

.modalFormCompleteButtons {
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px var(--color-divider);
}
