@import '../../../../style/global/global.scss';


[data-content-inner] {
    // padding-top: 30px;
}


.offerWrapper {
    background: #fff;
    padding: 0 0 30px;
}

.contentWrapper {

    @include screen(min, md) {
        display: flex;
        justify-content: space-between;
        // padding: 30px;
        margin-bottom: 30px;
        padding: 30px 0 0;
    }

    & > li {
        flex: 1 1 auto;
    }
    & > [data-li="left"] {
        // max-width: 60%;
        // min-width: 60%;
        @include screen(min, md) {
            max-width: calc(100% - 335px);
        }
    }
    & > [data-li="right"] {
        @include screen(max, md) {
            // padding: 30px;
        }
        @include screen(min, md) {
            min-width: 335px;
            max-width: 335px;
            padding-left: 30px;
        }
    }
}



// PANORAMA
.imagePanorama {
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    height: 400px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    @include screen(min, md) {
        @include bgBreath;
    }
}

.galleryButtons,
.galleryButtonsVideo {
    transition: var(--transition-5);
    @include screen(max, md) {
        padding: 0 0 15px 15px;
    }
    @include screen(min, md) {
        padding: 0 0 30px 30px;
    }
    & button {
        margin-right: 10px;
    }
}
.galleryButtons {
    margin: -70px 0 0;
}
.galleryButtonsVideo {
    margin: 20px 0 0;
}


// HEADER
.contentHeader {
    & [data-li="location"] {
        display: flex;
        align-content: center;
        margin-top: 15px;
        & > span {
            margin-right: 10px;
        }
    }
}


// DESCRIPTION
.offerDescription {
    margin: 30px 0;
}



// REVIEWS
.reviewsWrapper {
    @include screen(max, md) {
        margin-top: 30px;
    }

    & .reviewsTop {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    & .reviewsList {
        @include screen(min, md) {
            max-height: 100vh;
            overflow-y: auto;
            position: sticky;
        }

        & [data-block="review"] {
            margin: 0 0 20px;
            padding: 0 0 20px;
            border-bottom: solid 1px var(--color-divider);
            & [data-list="header"] {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                & > li {
                    flex: 1 1 auto;
                }
                & [data-li="avatar"] {
                    max-width: 80px;
                    min-width: 80px;
                    // margin-right: 20px;
                    & > img {
                        border-radius: 50%;
                        box-shadow: var(--shadow-2p);
                        border: solid 3px #fff;
                    }
                }
                & [data-li="userdata"] > ul {
                    display: flex;
                    justify-content: space-between;
                    & [data-el="location"] {
                        font-size: var(--font-size-tiny);
                        color: var(--color-text-secondary);
                        margin: 0 0 5px 0;
                    }
                    & [data-li="date"] {
                        font-size: var(--font-size-tiny);
                        color: var(--color-text-secondary);
                        white-space: nowrap;
                    }
                }
            }
            & [data-list="content"] {
                & [data-li="title"] {
                    font-size: var(--font-size-normal);
                    font-weight: var(--font-weight-semi-bold);
                }
                & [data-li="text"] {
                    font-size: var(--font-size-small);
                }
            }
        }
    }
}
