@import '../../../../../style/global/global.scss';


.ticketsWrapper {

    margin: 30px 0;

    & .ticketHeading {

        @include screen(min, md) {
            display: flex;
            flex-wrap: wrap;
        }

        flex-basis: 100%;
        flex-shrink: 0;

        & > li {
            @include screen(min, md) {
                flex: 1 1 50%;
            }
        }

        & > li:nth-child(1) {
            font-weight: var(--font-weight-semi-bold);
        }
        & > li:nth-child(2) {

        }
    }

    & .ticketDescription {
        font-size: var(--font-size-small);
    }
    & .ticketDetails {
        margin: 30px 0;
        & > li {
            display: flex;
            align-items: center;
            padding: 0 0 5px;
            @include screen(max, md) {
                font-size: var(--font-size-small);
            }
            & > label {
                margin: 0;
                font-weight: var(--font-weight-semi-bold);
                @include screen(max, md) {
                    min-width: 100px;
                    max-width: 100px;
                }
                @include screen(min, md) {
                    min-width: 150px;
                    max-width: 150px;
                }
            }
        }
        & [data-li="countdown"] {
            & > div {
                color: var(--color-accent);
            }
        }
    }
}

.bookingForm {

    margin: 20px 0 0;
    @include screen(min, md) {
        display: flex;
        flex-wrap: wrap;
    }
    & > li {
        @include screen(max, md) {
            padding: 0 0 10px;

        }
        @include screen(min, md) {
            flex: 1 1 auto;
            margin-left: 5px;
        }
    }
    & > li:last-child {
        margin-right: 0;
    }
    & [data-li="date"] {
        @include screen(min, md) {
            min-width: 120px;
            max-width: 120px;
        }
    }
    & [data-li="time"] {
        @include screen(min, md) {
            min-width: 100px;
            max-width: 100px;
        }
    }
    & [data-li="button"] {
        @include screen(min, md) {
            min-width: 120px;
            max-width: 120px;
        }
        & button {
            margin: 0;
        }
    }
}
// .priceBlock {
//     margin: 0 0 10px;
//     padding: 15px;
//
//     & [data-li="title"] {
//         color: var(--color-primary);
//     }
//
//     & .priceBlockField {
//         display: flex;
//         justify-content: space-between;
//         border-top: solid 1px var(--color-divider);
//         padding-top: 10px;
//         margin-top: 10px;
//     }
//
//     & .availabilities {
//         display: inline-flex;
//         flex-wrap: wrap;
//         // font-size: var(--font-size-tiny);
//         & > li {
//             margin-right: 5px;
//         }
//     }
// }
