


.reactPlayer,
.reactPlayer iframe {
  background: rgba(0,0,0, 1);
  min-height: calc(100vh / 2);
  margin-bottom: -4px;

  /*@media screen and (--xxs-viewport) {
      height: 35vh !important;
      min-height: 230px;
  }
  @media screen and (--larger-than-xxs-viewport) {
      min-height: 253px !important;
  }
  @media screen and (--larger-than-xs-viewport) {
      min-height: 300px !important;
  }
  @media screen and (--larger-than-sm-viewport) {
      min-height: 394px !important;
  }*/
}


.playerControls {

    & .playerControlsButtons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        & .playerControlsNoMobile {
            @media screen and (--sm-viewport) {
                display: none;
            }
        }
        & [data-el="player-volume"] {
            flex: 1 1 150px;
            min-width: 150px;
            max-width: 150px;
        }
        & .playerControlsDuration {
            padding: 0 15px;
            color: var(--color-text-secondary);
        }
    }
}
